<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Vídeos App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/o2NTWpD6LVf1YyPKTdvcEuHqcJ6.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Raya e o Último Dragão (2021)</h1>
          <p>04/03/2021 (BR) - 1h 47m</p>
          <p>Animação, Aventura, Fantasia, Família, Ação</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>82%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

</ion-content>
